.navbar{
background-color: white;
text-align: center;

}
body{
    background-color: rgba(128, 128, 128, 0.384);

}
.container{
background-color: white;
width: 50rem;
height: 40rem;
margin-top: 5rem;
}
.tittleCard{
float: left;
padding: 12px;

}
.numberCard{
    float: right;
    padding: 28px;

}
.description{
    padding: 12px;
}